/* responsive navbar */
.mobile-navbar-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.mobile-navbar-button > .mobile-nav-icons {
  font-size: 2rem;
  color: #212529;
  padding: 4rem;
  z-index: 9999;
}

.mobile-navbar-button > .close {
  display: none;
}

@media (max-width: 1200px) {
  .nav {
    justify-content: space-between;
    position: relative;
  }
  .nav > .left {
    height: 100%;
    margin-left: 5rem;
  }
  .nav > .right {
    display: none;
  }
  .nav > .center {
    width: 100%;
    height: 100vh;
    background-color: #a7d8e6;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav > .center > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active .center {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active > .mobile-navbar-button > .menu {
    display: none;
  }

  .active > .mobile-navbar-button > .close {
    display: block;
  }

  .mobile-navbar-button {
    height: 100%;
    /* width: 20%; */
  }
  .mobile-navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* ====first section==== */
  .first {
    gap: 1rem;
  }

  .first > .first-left > h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding: 12px;
  }

  .first > .first-left > p {
    font-size: 1.5rem;
    padding: 20px;
  }
  .first > .first-left > button {
    font-size: 1.3rem;
  }
  /* ======third section======= */

  .section-third{
    height: 120vh;
    width: 100vw;
  }
  .section-third .section-third-task {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 4rem;
  }

  .section-third .section-third-task .task1,
  .section-third .section-third-task .task2,
  .section-third .section-third-task .task3,
  .section-third .section-third-task .task4 {
    padding: 1rem 2rem 2rem 2rem;
  }

  .section-third .section-third-task .task1 h3,
  .section-third .section-third-task .task2 h3,
  .section-third .section-third-task .task3 h3,
  .section-third .section-third-task .task4 h3 {
    margin-top: 1rem;
    padding: 20px;
  }

  .section-third .section-third-task .task1 img,
  .section-third .section-third-task .task2 img,
  .section-third .section-third-task .task3 img,
  .section-third .section-third-task .task4 img {
    width: 5rem;
    height: 5rem;
  }

  .section-third .section-third-task .task1 p,
  .section-third .section-third-task .task2 p,
  .section-third .section-third-task .task3 p,
  .section-third .section-third-task .task4 p {
    font-size: 1.5rem;
  }

  /* ------fouth section----- */
  .fourth-card{
    height: 15rem;
    width: 11rem;
  }

  .fourth-card >img{
    height: 12rem;
    width: 10rem;
  }

}

@media (max-width: 900px) {
  .first {
    flex-direction: column;
    height: auto;
  }

  .first > .first-left {
    width: 100%;
    height: 60%;
  }
  .first > .first-right {
    height: 20rem;
    width: 20rem;
    margin-top: 0;
  }

  /* =====second section==== */
  .second {
    height: 30vh;
  }
  .collaborate .heading h1 {
    font-size: 2.5rem;
  }

  .collaborate .img img {
    height: 5em;
    width: 4em;
  }

  /* third section */
  .section-third .section-third-task {
    grid-template-columns: 1fr 1fr;
  }
}

/* ====================css for scroll bar ==========================*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #07e576);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}
