* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.nav {
  height: 5.5rem;
  width: 100vw;
  box-shadow: 0 0 10px 0 gray;
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: rgb(182, 182, 254);
}

.nav > .left {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav > .left > img {
  height: 55%;
  width: 12.3rem;
}

.nav > .left > button {
  padding: 9px 20px;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: rgb(203, 202, 202);
  cursor: pointer;
}

.nav > .center {
  /* background-color: blue; */
  width: 40%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav > .center > ul {
  display: flex;
  padding-left: 20px;
}

.nav > .center > ul > li {
  list-style: none;
  font-size: 23px;
  padding: 20px;
}

.nav > .center > ul > li > a {
  text-decoration: none;
}

.nav > .right {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav > .right > input {
  width: 70%;
  height: 50%;
  border-radius: 20px;
  font-size: 20px;
  text-align: start;
  padding-left: 20px;
}

.nav > .right > i {
  font-size: 30px;
}

/* first section start here */
.first {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  margin: 0 1rem 5rem 0;
  gap: 12rem;
}

.first-left {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 2rem 5rem;
}

.first-left > h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
}

.first-left > p {
  padding-top: 1rem;
  font-size: 22px;
}

.first-left > button {
  padding: 9px 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgb(203, 202, 202);
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.5rem;
}

.first-right {
  height: 25rem;
  width: 25rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  border-radius: 50%;
  background-color: rgb(165, 165, 252);
  overflow: hidden;
  border: 15px solid blue;
  margin-top: 6rem;
}
.first-right img {
  height: 25rem;
  transition: all ease 1s;
}

.first-right img:hover {
  cursor: pointer;
  scale: 1.2;
}

/*------------------------------------------- second section here---------------------------------------------- */

.second {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collaborate {
  height: 100%;
  width: 100%;
  background-color: rgb(227, 224, 224);
  border-radius: 8rem 8rem 0 0;
}

.collaborate .heading {
  height: 20%;
  width: 100%;
}

.collaborate .heading h1 {
  font-size: 3rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

.collaborate .img {
  height: 20vh;
  width: 100vw;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.collaborate .img img {
  height: 7em;
  width: 8.8em;
}

.collaborate .img img #google {
  width: 8rem;
}

/* ----------------------------------  Third section is here ----------------------------------------------------------- */

.section-third {
  height: 70vh;
  width: 100vw;
  background-color: azure;
  margin-top: 3rem;
}

.section-third h2 {
  font-size: 3rem;
  text-align: center;
  color: rgb(66, 66, 247);
}

.section-third .top p {
  font-size: 1.2rem;
  width: 40rem;
  margin-bottom: 1rem;
  text-align: center;
  margin: auto;
}

.section-third .section-third-task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  padding: 2rem 2rem;
}

.section-third .section-third-task .task1,
.section-third .section-third-task .task2,
.section-third .section-third-task .task3,
.section-third .section-third-task .task4 {
  padding-top: 2rem;
  text-align: center;
  transition: all 0.3s linear;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
  padding: 2rem;
}

.section-third .section-third-task .task1 h3,
.section-third .section-third-task .task2 h3,
.section-third .section-third-task .task3 h3,
.section-third .section-third-task .task4 h3 {
  font-size: 1.7rem;
  margin-top: 2rem;
  padding-bottom: 20px;
}

.section-third .section-third-task .task1 p,
.section-third .section-third-task .task2 p,
.section-third .section-third-task .task3 p,
.section-third .section-third-task .task4 p {
  font-size: 1.3rem;
}

.section-third .section-third-task .task1 h3,
.section-third .section-third-task .task2 h3 {
  margin-top: 1.1rem;
}

.section-third .section-third-task .task1 img,
.section-third .section-third-task .task2 img,
.section-third .section-third-task .task3 img,
.section-third .section-third-task .task4 img {
  width: 6rem;
  height: 6rem;
  transition: all 0.3s;
}

.section-third .section-third-task .task1:hover > img,
.section-third .section-third-task .task2:hover > img,
.section-third .section-third-task .task3:hover > img,
.section-third .section-third-task .task4:hover > img {
  transform: rotate(360deg);
}

/* ---------------------------------fourth section is here-------------------------------------------- */
.fourth-categories{
  height: 80vh;
  width: 100vw;
  /* background-color: red; */
}
.fourthSection-div{
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.categories-header{
 font-size: 2vmax;
 padding-top: 2rem;
 padding-left: 3rem;
}
.fourth-wrapper{
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 15px;
}

.fourth-card{
 height: 18rem;
 width: 14rem;
 /* background: green; */
 padding-top: 10px;
 transition: all ease .5s;
}

.fourth-card:hover{
  scale: 1.2;
}

.fourth-card> a >img{
  height: 14rem;
  width: 12rem;
}

.fourth-card >h3{
  font-size: 20px;
}